<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
<h1 class="ml-3"> Dashboard Admin </h1>



<a href="/aggiungiQuestionario" class="ml-3">Crea un questionario</a>

<h1 class="mt-3 mb-3 ml-3">Lista questionari </h1>



	<div class="container-fluid">		        
    <div id="contenitori-questionari" class="row flex-row flex-nowrap mt-4"></div>
    
    		        
   			</div>
   			</div>


<th:block th:each="domandeQuestionario,iter : ${domandeQuestionario}">
		                      <!-- da qui ciclo for per le domande  -->
		                   <div th:class="|${domandeQuestionario.getquestionarioAdmin().idquestionariAdmin}|">
		                     <td> <h6 class="card-text" th:text="|◉ ${domandeQuestionario.testo}|"></h6></td>
		                    </div>
						</th:block>  


		   			
		     			
		 <th:block th:each="questionariAdmin,iter: ${questionariAdmin}">
	
           <td>  <h3 th:id="|titolo${iter.index+1}|" class="titoli-questionari" th:text="|${questionariAdmin.titolo}|"></h3></td>
		
	</th:block>  
					
   		
   

   			
   <div class="">
<th:block th:each="media : ${media}">
<td><h2 class="mt-3 ml-3" th:text="|${media} / 5|"></h2></td>

   </div>
  
				</th:block>  
 
    <h2 class="ml-3">Star Rating</h2>
    
    <!-- INSERIMENTO DEL NUMERO DI RECENSORI PER OGNI STELLA   -->
		<th:block th:each="stelle1 : ${stelle1}">
		
		<td><span id="1"  class="numero-recensori" th:text="|${stelle1}"></span></td>
		
		</th:block>  
		
		<th:block th:each="stelle2 : ${stelle2}">
		
		<td><span id="2"  class="numero-recensori" th:text="|${stelle2}"></span></td>
		
		</th:block>  
		
		<th:block th:each="stelle3 : ${stelle3}">
		
		<td><span id="3"  class="numero-recensori" th:text="|${stelle3}"></span></td>
		
		</th:block>  
		
		<th:block th:each="stelle4 : ${stelle4}">
		
		<td><span id="4"  class="numero-recensori" th:text="|${stelle4}"></span></td>
		
		</th:block>  
		
		<th:block th:each="stelle5 : ${stelle5}">
		
		<td><span id="5"  class="numero-recensori" th:text="|${stelle5}"></span></td>
		
		</th:block>  


<!--  
<span id="4" class="numero-recensori">800</span>
<span id="3" class="numero-recensori">600</span>
<span id="2" class="numero-recensori">400</span>
<span id="1" class="numero-recensori">200</span>
-->


    <div id="items" class="form-group ml-3 mt-4">
</div>

        <script>
        
        let titoli_questionari=document.getElementsByClassName("titoli-questionari");
        let numeroquestionari=titoli_questionari.length;
        let i = 1;
        let contenitoriQuestionari = document.getElementById(
          "contenitori-questionari"
        );

        function PosizionaDomanda(numeroquestionari) {
          while (i <= numeroquestionari) {

            console.log("Questionario #" + i);
            let div = document.createElement("div");
            div.setAttribute("id", "q" + i);
            div.setAttribute("class", "col-5");

            let div1 = document.createElement("div");
            div1.setAttribute("class", "card");

            let div2 = document.createElement("div");
            div2.setAttribute("class", "card-body");

            let div3 = document.createElement("div");
            div3.setAttribute("id", "titolo-q"+i);

            titoloQuestionario=document.getElementById("titolo"+i);

            let divContenitoreDomande = document.createElement("div");
            divContenitoreDomande.setAttribute("id", "domande" + i);

            let domande = document.getElementsByClassName(i);
            console.log("Numero domande: " + domande.length);

            // append di tutti i div per la creazione del modello 

            contenitoriQuestionari.append(div);
            div.append(div1);
            div1.append(div2);
            div2.append(div3);
            div3.append(titoloQuestionario);
            div2.append(divContenitoreDomande);

            for (let b = 0; b < domande.length;b++ ) {
              divContenitoreDomande.append(domande[b]);
            }

            let div_bottoni = document.createElement("div");
            div_bottoni.setAttribute("class","d-flex text-white");

            let bottone_attiva= document.createElement("a");
            bottone_attiva.setAttribute("class", "btn btn-primary  mt-3");

         //   let bottone_modifica= document.createElement("a");
           // bottone_modifica.setAttribute("class", "btn btn-dark ml-3 mt-3");

            let bottone_elimina= document.createElement("a");
            bottone_elimina.setAttribute("class", "btn btn-danger ml-3 mt-3");
            
            bottone_attiva.innerHTML="Attiva";
          //  bottone_modifica.innerHTML="Modifica";
            bottone_elimina.innerHTML="Elimina";
            
            div2.append(div_bottoni);
            div_bottoni.append(bottone_attiva);
          //  div_bottoni.append(bottone_modifica);
            div_bottoni.append(bottone_elimina);

            i += 1;
            
          }
        }
   
            function GeneraStella(parametro){
                let i=0;
                let div_totale= document.getElementById("items");
                let numero_recensioni=document.getElementById(parametro);
                console.log(numero_recensioni);
            
                // creo un div per ogni gruppo di stelle
                odv = document.createElement('div');
                odv.setAttribute("class", "Div-stelle");
            
                while (i<parametro){
                    // creo il numero di stelle che mi serve ogni volta che richiamo la funzione
                    stella = document.createElement('span');
                    stella.setAttribute("class", "fa fa-star checked");
                    odv.append(stella);
                    i+=1;
                }
            
                // le appendo al div creato in precedenza
                odv.append(numero_recensioni);
                div_totale.append(odv);
            
            }
            
            
            
            // richiamo funzione
            
            PosizionaDomanda(numeroquestionari);
            
            GeneraStella(5);
            GeneraStella(4);
            GeneraStella(3);
            GeneraStella(2);
            GeneraStella(1);
          
            

            </script> 

            <style>
                .div-stella{
                    display: flex;
                    align-items: center;
                }
                .numero-recensori{
                    padding-left: 10px;
                }

                .checked {
                  color: orange;
                    }
            </style>

</body>

</html>