<html lang="en"> 
    <head>  
        <title>Home</title>  
    </head>  
	<body>
		<h1 th:text="|Benvenuto, ${utente.nome} ${utente.cognome}!|"></h1>
		<a href="/questionario">Rispondi al questionario</a>
		<input type="hidden">
		<div id="sezioneQuestionari">
			<th:block th:each="q:${questionari}">
				<div class="questionario">
					<h3 th:text="|${q.questionariadmin.titolo} - ${#temporals.format(q.getdata(),'dd/MM/yyyy HH:mm:ss')}|"></h3>
					<!-- Domande questionario singolo -->
					<th:block th:each="r:${risposte.risposteQuestionarioUtente(q.getidquestionario())}">
						<p th:text="${r.domanda.testo}">
						<p th:text="${r.voto}">
					</th:block>
				</div>
			</th:block>
		</div>
	</body>
</html>