<html lang="en"> 
    <head>  
        <title>Questionario</title>  
    </head>  
	<body>
		<h1>Compila il questionario</h1>
		<a href="/home">Torna alla home</a>
		<div id="sezioneQuestionario">
			<th:block th:each="q:${questionario}">
				<div class="questionario">
					<h3 th:text="${q.data}"></h3>
					<th:block th:each="r:${risposteUtente}">
						<p th:text="${r.domanda.getTesto()}"></p>
						<p th:text="${r.voto}"></p>
					</th:block>
				</div>
			</th:block>
		</div>
	</body>
</html>